

<table>
    <thead>
        <tr>
         <th><%= @kitten.name %></th>
        <tr>
    </thead>
    <tbody>    
       <% @kitten.class.column_names.each do |attr|%>
            <% next if ['id', 'created_at', 'updated_at'].include?(attr)%>
            <tr>
                <td><%= attr %></td>
                <td><%= @kitten.send(attr) %></td>
               
            </tr>
        <% end%>
    </tbody>

</table>