* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}